{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>

    <div class="grid-row">
	    <div class="column-two-thirds">
	        <div class="highlighted-event" style="margin: 40px 0px 20px 0px; padding: 40px; background-color: #28a197; color: #fff; text-align: center;">
        	<div style="font-size: 48px; font-weight: bold; clear:both;">&#10003;&nbsp;&nbsp; Payment details received</div>
		</div>
	    
		<br/>
		
		<h3 class="heading-small">What happens next?</h3>
		<p class="text">We will send you a letter in the post with your State Pension award amount and the payments dates which you can expect.</p>
		<p class="text">The letter will arrive within the next 30 days.</p>
		<!--<a href="#" class="button" value="Submit">Send feedback</a><br/>
		<a href="#" class="link">Print this page</a> -->
    </div>
        
        
    </div>      
</main><!-- / #page-container -->

{{/content}}

{{/layout}}
