{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>

    <div class="grid-row">
	    <div class="column-two-thirds">
		    <h1 class="heading-xlarge">Provide proof of marriage</h1>
			<p class="text">Please provide your marriage certificate as proof of marriage.</p>
		</div>
    </div>
        
        
    </div>      
</main><!-- / #page-container -->

{{/content}}

{{/layout}}
