{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->

<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
  	
    <div class="grid-row">
        <div class="column-two-thirds">
		<h1 class="heading-xlarge">State Pension Activation</h1>
	    <p>We will let you know your state pension entitlement and guide you through the process to start claiming your pension.</p>
	    <p>In order to process your claim for State Pension, you will need:</p>
	    <ul class="list-bullet">
		    <li>Unique Number Code on your Pension Activation Letter</li>
		    <li>Your Surname</li>
		    <li>Your Date of Birth</li>
		    <li>Bank Account / Building Society Account Details</li>
	    </ul>
		<div class="form-group" class="get-started" id="get-started">
	    	<a href="start_smart" class="button button-get-started" role="button">Start now</a>
	    </div>
        </div>
</main>

<!-- / #page-container -->

{{/content}}

{{/layout}}
