{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
  	<form>
    <div class="grid-row">
        <div class="column-two-thirds">
    	<br>
		
		<div class="highlighted-event" style="padding: 40px; background-color: #28a197; color: #fff; text-align: center;">
            <div style="font-size: 24px; font-weight: bold; clear:both;">Your State Pension entitlement is</div>
            <div style="font-size: 56px; font-weight: bold;">£143.20 <span style="font-size: 24px; font-weight: bold;">per week</span></div>
	        
        </div>
		
		<br/>
		
		<fieldset>
			<legend>
				<span class="form-label">
			        
			    </span>
			</legend>
			
			<br/>
			
			<div class="form-group form-group-compound">
			    <label class="block-label" data-target="example-ni-no" for="radio-indent-1">
				    <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
				    Receive my State Pension
			    </label>
				
				<label class="block-label" for="radio-indent-2">
				    <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
				    Defer my State Pension
			    </label>
			</div>
		</fieldset>  
       
        
        <br>
        <div class="form-group">
        	<!-- <input type="submit" class="button" value="Submit"> -->
            <a href="bank-details" class="button" value="Submit">Continue</a>
        </div>

            <!-- </form> -->
        </div>

    </div>      
    </form>

    </main><!-- / #page-container -->

{{/content}}

{{/layout}}
