{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
  	
    <div class="grid-row">
        <div class="column-two-thirds">
    	<h1 class="heading-xlarge">Payment details</h1>
		<p class="text">Give details of the bank or building society account for your pension to be paid into.</p>
		<br/>
		<!--<div class="form-group">
	        <label class="form-label-bold label-no-hint" for="bank-name">Name of Bank or Building Society</label>
	        <input type="text" class="form-control" id="bank_name">
        </div>-->
		
		<div class="form-group">
	        <label class="form-label-bold label-no-hint" for="account-holder">Name of Account Holder</label>
	        <input type="text" class="form-control" id="account-holder">
        </div>
        
        <div class="form-group">
	        <label class="form-label-bold" for="sort-code">
		        Sort Code
		        <span class="form-hint">e.g. 00 00 00</span>
	        </label>
	        <input type="text" class="form-control" id="sort-code">
        </div>
        
        <div class="form-group">
	        <label class="form-label-bold" for="account-number">
		        Account Number
		        <span class="form-hint">8 digit number on your bank card</span>
	        </label>
	        <input type="text" class="form-control" id="account-number">
        </div>
		
		<div class="form-group">
	        <label class="form-label-bold" for="society-roll">
		        Building society roll or reference number
		        <span class="form-hint">If your building society uses a roll or reference number, you will find it on the passbook</span>
	        </label>
	        <input type="text" class="form-control" id="society-roll">
        </div>
		
		<div class="form-group">
        	<!-- <input type="submit" class="button" value="Submit"> -->
            <a href="married-end" class="button" value="Submit">Send payment details</a>
        </div>
        </div>
	</div>      
</main>

{{/content}}

{{/layout}}
