{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>

    <div class="grid-row">
		<div class="column-two-thirds">
    	<!--<h1 class="heading-xlarge">Defer your State pension</h1>
		<p class="text">To defer your State Pension, click the button below.</p>
		<p class="text">If you get benefits and you want to defer your State Pension, you must tell <a href="https://www.gov.uk/contact-pension-service">the Pension Service</a>.</p>
		<h4 class="heading-medium">What you'll get</h4>
		<p class="text">You may get extra State Pension if you defer your claim. How much you can get depends on when you have reached <a href="https://www.gov.uk/calculate-state-pension/y/age">State Pension age</a>.
		<p class="text">You can't get extra State Pension if you get <a href="https://www.gov.uk/deferring-state-pension/extra-state-pension-and-lump-sum-payments">certain benefits</a>.</p>
		<a href="defer-confirmation" class="button" value="Submit">Defer my State Pension</a>-->
    </div>
</main><!-- / #page-container -->

{{/content}}

{{/layout}}
