{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
		<form method="post" action="start_smart">
    <div class="grid-row">
        <div class="column-two-thirds">

			<!--
				removed error message

					<div class="error-summary error-message">
       <h2 class="heading-small error-summary-heading">Check the form</h2>
        <p>Fix the following:</p>
        <ul class="error-summary-list">

                <li>
                    <a href="#ni_number">
                        Your reference number is not valid
                    </a>
                </li>

        </ol>
    </div>
-->


    	<h1 class="heading-xlarge">Provide your details</h1>
		<div class="form-group error">
	       	<label class="form-label strong" for="ni_number">
            <p class="error-message">Your reference number is not valid</p>
	        	<p class="form-hint">Can be found on your pension activation letter</p>
	        </label>
          <input type="text" class="form-control" id="ni_number" name="ni_number" />
           <br/><a href="noauth" class="text">I don't have a reference number</a>
        </div>
        
           <div class="form-group">
	        <label class="form-label-bold label-no-hint" for="surname">
				Surname
			</label>
			<input class="form-control " id="surname" type="text">
		</div>

        <div class="form-group">
            <fieldset>
                <legend class="form-label-bold">Date of birth</legend>
                <div class="form-date">
                    <p class="form-hint">For example, 31 12 1980</p>
                    <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input class="form-control" id="dob-day" maxlength="2" name="dob-day" value="{{dob-day}}" type="text" />
                    </div>
                    <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" maxlength="2"  name="dob-month" value="{{dob-month}}" type="text" />
                    </div>
                    <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" maxlength="4" name="dob-year" value="{{dob-year}}" type="text" />
                    </div>
                </div>
            </fieldset>
        </div>


		<div class="form-group">
            <button class="button" value="Continue">Continue</button> <br>
           
        </div>
        </div>
	</div>
</form>
</main>

{{/content}}

{{/layout}}
