{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
		<form method="post" action="start_smart">
    <div class="grid-row">
        <div class="column-two-thirds">
	    	<h1 class="heading-xlarge">Provide your details</h1>
			
	        <div class="form-group">
		       	<label class="form-label-bold strong" for="ni_number">
		       		Your reference number
		        	<p class="form-hint">Can be found on your invitation to claim state pension letter</p>
		        </label>
		        <input type="text" class="form-control" id="ni_number" name="ni_number" /><br/>
		        <div class="noauth"><a href="noauth">I don't have a reference number</a></div>
	        </div>
	        
	        <div class="form-group">
	        <label class="form-label-bold label-no-hint" for="surname">
				Surname
			</label>
			<input class="form-control " id="surname" type="text">
		</div>

        <div class="form-group">
            <fieldset>
                <legend class="form-label-bold">Date of birth</legend>
                <div class="form-date">
                    <p class="form-hint">For example, 31 12 1980</p>
                    <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input class="form-control" id="dob-day" maxlength="2" name="dob-day" value="{{dob-day}}" type="text" />
                    </div>
                    <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input class="form-control" id="dob-month" maxlength="2"  name="dob-month" value="{{dob-month}}" type="text" />
                    </div>
                    <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input class="form-control" id="dob-year" maxlength="4" name="dob-year" value="{{dob-year}}" type="text" />
                    </div>
                </div>
            </fieldset>
        </div>

	
			<div class="form-group">
	            <button class="button" value="Continue">Continue</button> <br>
	        </div>
        </div>
	</div>
</form>
<a href="#" class="webchat">Need support? Click for Livechat</a>
</main>

{{/content}}

{{/layout}}
