{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>

    <div class="grid-row">
		<div class="column-two-thirds">
		<h1 class="heading-xlarge">Call the State Pension claim line</h1>
		<p>Monday to Friday, 8am to 6pm (except public holidays)</p>
		<ul class="list-bullet">
			<li>Telephone: 0800 731 7898</li>
			<li>Textphone: 0800 731 7339</li>
		</ul>
		<a href="#" class="button" value="Submit">Send feedback</a><br/>
	</div>


    </div>
</main><!-- / #page-container -->

{{/content}}

{{/layout}}
