{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->

<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>

    <div class="grid-row">


        <div class="column-two-thirds">
	        <div class="highlighted-event" style="margin: 40px 0px 20px 0px; padding: 40px; background-color: #28a197; color: #fff; text-align: center;">
            	<div style="font-size: 48px; font-weight: bold; clear:both;">&#10003;&nbsp;&nbsp; You're all set to receive your State Pension</div>
			</div>
			<h3 class="heading-medium">What happens next?</h3>
			<p>You will receive your pension award letter by post detailing the amount you will receive.</p>
			  
			 

			<h3 class="heading-small">When you'll be paid</h3>
			<table>
				<thead>
			      <tr>
			        <th colspan="2">First Payment Date</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>6th November 2015</td>
			        <td class="align-right">£339.30</td>
			      </tr>
			    </tbody>
			 </table>
			<br/>
			<table>
			    <thead>
			      <tr>
			        <th colspan="2">Future Payment Dates</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1st December 2015</td>
			        <td class="align-right">£452.40</td>
			      </tr>
			      <tr>
			        <td>28th December 2015</td>
			        <td class="align-right">£452.40</td>
			      </tr>
			    </tbody>
			  </table>
			  <br/>
			  
			  <p><a href="#">Print this page</a></p>
			  
			  <a href="#" class="button" value="Submit">Give feedback</a><br/>
			  
			  
			  
			  <a href="#" class="webchat">Need support? Click for Livechat</a>
			  <!--<p class="text">There may be other benefits which you can receive.</p>
			  
			  <ul class="list-bullet">
			  	<li><a href="#">Item 1</a></li>
			  	<li><a href="#">Item 2</a></li>
			  	<li><a href="#">Item 3</a></li>
			  </ul>

			  <a href="#" class="button" value="Submit">Send feedback</a><br/>
			  <a href="#" class="link">Print this page</a>-->

        </div>


    </div>
</main><!-- / #page-container -->

{{/content}}

{{/layout}}
