{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
		<form method="get" action='calculated'>
	    <div class="grid-row">
	        <div class="column-two-thirds">
		    	<h1 class="heading-xlarge">Have you lived or worked outside of the UK?</h1>
				<!-- Unique ID -->
				<fieldset class="inline">
			    	<label class="block-label" for="radio-inline-1">
						<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
						Yes
					</label>

				    <label class="block-label" for="radio-inline-2">
				    	<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
						No
				    </label>
	  			</fieldset>
	  			<br/>
					<div class="form-group">
	        	 <input type="submit" class="button" value="Continue">
	          <!--  <a href="question2" class="button" value="Submit">Continue</a> -->
	        </div>
			</div>
    	</div>
    </form>
    <a href="#" class="webchat">Need support? Click for Livechat</a>
 </main><!-- / #page-container -->

{{/content}}

{{/layout}}
