{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}


<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
  	
    <div class="grid-row">
        <div class="column-two-thirds">
    	<h1 class="heading-large">Your State Pension Entitlement</h1>
		<p class="text">Thanks for those details, based on the information you provided we will be able to calculate your pension entitlement shortly.</p>
		
		<p>Provide us with your email address and we will email you when the calculation has completed.</p>
		<div class="form-group">
	        <label class="form-label" for="ni-number">
				Your Email Address
			</label>
			<input class="form-control" id="ni-number" type="text">        
		</div>
		
		<div class="form-group">
        	<!-- <input type="submit" class="button" value="Submit"> -->
            <a href="confirmation" class="button" value="Submit">Continue</a>
        </div>

            <!-- </form> -->


    </div> 
    </div>


    </main><!-- / #page-container -->

{{/content}}

{{/layout}}
