{{<layout}}

{{$pageTitle}}
	Authenticate your details
{{/pageTitle}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_sprint_6}}
{{/propositionHeader}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">

    <div class="column-two-thirds group">
    	<h1 class="heading-large">Confirmation</h1>
		<p class="text">We'd like to confirm all of the details you've provided below before starting to pay your State Pension</p>
		
		<div class="highlighted-event" style="padding: 40px; background-color: #28a197; color: #fff; text-align: center; margin: 0 -1em 1em -1em;">
            <div style="font-size: 24px; font-weight: bold; clear:both;">Your Pension Entitlement</div>
            <div style="font-size: 56px; font-weight: bold; clear: both;">£143.20</div>
	        <div style="font-size: 24px; font-weight: bold; clear:both;">per week</div>
        </div>
		
		<table>
		    <thead>
		      <tr>
		        <th scope="col">Payment Date</th>
		        <th class="numeric" scope="col">Amount</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>25 November 2015</td>
		        <td class="numeric">£143.20</td>
		      </tr>
		      <tr>
		        <td>1 October 2015</td>
		        <td class="numeric">£143.20</td>
		      </tr>
		      <tr>
		       <td>7 October 2015</td>
		        <td class="numeric">£143.20</td>
		      </tr>
		    </tbody>
		</table>
		
		<br/>
		  
		<div class="form-group">
        	<!-- <input type="submit" class="button" value="Submit"> -->
            <a href="bank-details" class="button" value="Submit">Start paying my pension</a>
        </div>

            <!-- </form> -->


    </div>      


    </main><!-- / #page-container -->

{{/content}}

{{/layout}}
