{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->
<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
    <form>
    <div class="grid-row">
        <div class="column-two-thirds">
    	<h1 class="heading-large">Lived or Worked Overseas?</h1>
		<br/>
		<!-- Unique ID -->
		<div class="form-group">
	        <fieldset>
			    <legend>
			    	<span class="form-label">
			        	At any point have you lived or worked overseas outside of the United Kingdom and Isle of Man?
			        </span>
			    </legend>
			    
			    <br/>
			    
			    <div class="form-group form-group-compound">
					<label class="block-label" data-target="example-ni-no" for="radio-indent-1">
					    <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Yes">
					    Yes
				    </label>
					<label class="block-label" for="radio-indent-2">
					    <input id="radio-indent-2" type="radio" name="radio-indent-group" value="No">
					    No
				    </label>
				</div>
			</fieldset>        
		</div>
        
        <div class="form-group">
            <a href="calculated" class="button" value="Submit">Continue</a>
        </div>
	</div>
    </div>
    </form>

    </main><!-- / #page-container -->

{{/content}}

{{/layout}}
