{{<layout}}

{{$pageTitle}}
	State Pension Activation
{{/pageTitle}}

{{$content}}

<!-- #page-container -->

<main id="content" role="main" class="group">
<div class="header-proposition">
	<h1 class="heading-xlarge">State Pension Activation</h1>
    <p class="column-two-thirds">We will let you know your state pension entitlement and guide you through the process to start claiming your pension.</p>
    <p class="column-two-thirds">In order to process your claim for State Pension, you will need:</p>
    <ul class="list-bullet column-two-thirds">
	    <li>Unique Number Code on your Pension Activation Letter</li>
	    <li>Your National Insurance Number</li>
	    <li>Your Date of Birth</li>
	    <li>Bank Account / Building Society Account Details</li>
    </ul>
	<div class="form-group" class="get-started" id="get-started">
    	<a href="start_smart" class="button button-get-started" role="button">Start now</a>
    </div>
</main>

<!-- / #page-container -->

{{/content}}

{{/layout}}
