{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">State Pension Activation Prototype</h1>
	<!-- feel free to change this page to suit your needs -->

	<h2 class="heading-large">Iteration 1</h2>
	<p>This iteration is to test the assumption that a 'best case scenario' flow can be tested against Single Customer with a full NI record.</p>

	<ul class="list-bullet">
		<li><a href="/iteration1/start">Start Page</a></li>
		<li><a href="/iteration1/start_smart">Start Smart</a></li>
		<li><a href="/iteration1/authenticate">Authenticate</a></li>
		<li><a href="/iteration1/question1">Question 1</a></li>
		<li><a href="/iteration1/question2">Question 2</a></li>
		<li><a href="/iteration1/calculated">SP Calculated</a></li>
		<li><a href="/iteration1/bank-details">Bank Details</a></li>
		<li><a href="/iteration1/confirmation">Payment Confirmation</a></li>
	</ul>

</main>

{{/content}}

{{/layout}}
