{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
  
  	<h1 class="heading-large">State Pension Activation Prototype</h1>
	<!-- feel free to change this page to suit your needs -->
	    <div class="grid-row">
	        <div class="column-half">		
	            <h2 class="heading-medium">Iteration 1</h2>
	            <p>We’re testing this low impact approach for the first time. It includes options for offline paper prompt and direct online traffic. We’ve designed it targeting a specific customer group of single customers with a full NI Contribution because this specific customer group are the path of least resistance to work through a prototype when we don't have any technical solutions for the other customer groups.</p>
				<ul class="list-bullet">
	                <li><a href="/iteration1/start">Start Page</a></li>
	            </ul>
	        </div>
	
	        <div class="column-half">		
	            <h2 class="heading-medium">Iteration 1 - v2</h2>
	            <p>A slightly different version which includes an element whereby the customer is prompted to wait for the delivery of their pension calculation. We’ve designed version 2 this way to test the assumption that customers will have a high expectation of getting their pension calculation online at the time of application and are looking to see their response.</p>
				<ul class="list-bullet">
	                <li><a href="/iteration1-v2/start">Start Page</a></li>
	            </ul>
	        </div>
	        
	    </div>
	    <div class="grid-row">  
	        <div class="column-half">		
	            <h2 class="heading-medium">Iteration 2 - Alpha Phase</h2>
	            <p>This iteration encompasses the whole MVP for Alpha. We've designed this iteration to test the assumption that customers will expect to actively get or defer their state pension as well as the dates they will receive their first few payments.</p>
				<ul class="list-bullet">
	                <li><a href="/iteration1-v4/start">Start Page</a></li>
	            </ul>
	        </div>
	        
	        <div class="column-half">
		    	<h2 class="heading-medium">Iteration 2 - v2</h2>
		    	<p>This iteration encompasses the user research analysis insights which we did with the first version. We're looking to use NI Number as an identifier only / reference only for a user. We've added in validation on form fields.</p>
		    	<ul class="list-bullet">
			    	<li><a href="/iteration2-v2/start">Start page</a></li>
		    	</ul>
	        </div>
    	</div>
    	<div class="grid-row">  
	        <div class="column-half">		
	            <h2 class="heading-medium">Iteration 3 - v1</h2>
	            <p>This iteration takes in to account the feedback that we've had from our security colleagues, updating the 'what next' area using information from our user research, adding in a support channel and moving deferrals outside of the service. We've moved deferring outside of the service due to the result of the user research.</p>
				<ul class="list-bullet">
	                <li><a href="/iteration3-v1/start">Start Page</a></li>
	            </ul>
	        </div>
	        
	        <!--<div class="column-half">
		    	<h2 class="heading-medium">Iteration 2 - v2</h2>
		    	<p>This iteration encompasses the user research analysis insights which we did with the first version. We're looking to use NI Number as an identifier only / reference only for a user. We've added in validation on form fields.</p>
		    	<ul class="list-bullet">
			    	<li><a href="/iteration2-v2/start">Start page</a></li>
		    	</ul>
	        </div>-->
    	</div>
    	

</main>

{{/content}}

{{/layout}}
