{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="group">
	<div class="phase-banner">
    	<p>
      		<strong class="phase-tag">ALPHA</strong>
      		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    	</p>
  	</div>
  
  	<h1 class="heading-large">State Pension Activation Prototype</h1>
	<!-- feel free to change this page to suit your needs -->
	
	<div class="column-two-thirds">		
		<h2 class="heading-medium">Iteration 1</h2>
		<p class="text">We’re testing this low impact approach for the first time. It includes options for offline paper prompt and direct online traffic. We’ve designed it targeting a specific customer group of single customers with a full NI Contribution because this specific customer group are the path of least resistance to work through a prototype when we don't have any technical solutions for the other customer groups.</p>
	
		<ul class="list-bullet">
			<li><a href="/iteration1/start">Start Page</a></li>
			<li><a href="/iteration1/start_smart">Start Smart</a></li>
			<li><a href="/iteration1/authenticate">Authenticate</a></li>
			<li><a href="/iteration1/question1">Question 1</a></li>
			<li><a href="/iteration1/question2">Question 2</a></li>
			<li><a href="/iteration1/calculated">SP Calculated</a></li>
			<li><a href="/iteration1/bank-details">Bank Details</a></li>
			<li><a href="/iteration1/confirmation">Payment Confirmation</a></li>
		</ul>
	</div>
</main>

{{/content}}

{{/layout}}
